.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  gap: 4rem;
}


.container > * {
  flex: 1 1;
}

.container > *:last-child {
  overflow: scroll;
  margin: 0 6.6rem;
  padding: 1rem;
  max-width: calc(103.3rem + 1rem);
  

  display: flex;
  gap: 5.8rem;
  flex-direction: column;
  justify-content: flex-start;


}

.contentScrollBar {
  width: 10px;
  background-color: #f1f1f1;
}

.container > *:last-child > * {
  overflow: visible;
}



@media screen and (min-width: 1477px) {
  .container > *:last-child {
    margin: 0 auto;
  }
}


@media screen and (max-width: 780px) {
  .container {
    gap: 0;
    flex-direction: column-reverse;
  }

  .container > *:last-child {
    margin: 0 3.6rem;

  }
}
