.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    max-width: 26.5rem;
}

.container > .item {
    cursor: pointer;
    padding-left: 2.5rem;
    border-radius: 0 50rem 50rem 0;
    flex: 1 1;
    max-height: 5.1rem;
    min-width: 100%;

    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 2.2rem;
    text-decoration: none;
    color: var(--gray);
    font-family: var(--open-sans);
    font-weight: 400;
    transition: .18s;
}

.container > .item i {
    background: var(--gray);
}

.container > .item.current {
    color: var(--green);
    background: var(--green-de);
}

.container > .item.current i {
    background: var(--green);
}




@media screen and (max-width: 780px) {
    .container {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100vw;
      max-width: inherit;
      max-height: 11rem;
    }

    .container .item {
        min-height: 100%;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        min-width: inherit;
        flex: 1 1;
        padding-left: 0;
        flex-direction: column;
    }
  }


  
