:root {
  font-size: 10px;
  --gray: #5f6368;
  --black: #000;
  --white: #fff;
  --gray-light: #f1f3f4;
  --green: #16dc05;
  --blue: #0085ff;
  --blue-bg: #0085ff;
  --red-bg: #ff4545;
  --green-bg: #23c615;
  --green-de: #e8feee;
  --orange: #ffa800;
  --white-panel: 0px 0px 6px 0px rgba(0, 0, 0, 0.17);
  --white-panel-deep: 1.2rem 0 10px 0 rgba(0, 0, 0, 0.15);
}

* {
  padding: 0;
  margin: 0;
  border: 0;

  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

body,
input,
button {
  overflow-x: hidden;
  color: var(--black);
}

body * {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-style: normal;
}

input {
  line-height: 0.1;
}

button {
  cursor: pointer;

  background: var(--gray);
  border-radius: 50rem;
  color: var(--white);
  min-width: 15.9rem;
  font-size: 2.2rem;
  font-weight: 300;
  font-style: normal;

  line-height: 0.1;
  min-height: 3.1rem;
}

input,
label {
  outline: none;
}

input::placeholder {
  color: var(--gray);
}

::-webkit-scrollbar {
  width: 6px;
  transition: 0.2s;
  border: 0;

  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  border: 0;
  margin: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.i-home,
.i-group,
.i-layer {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--black);
}

.i-home {
  mask: url(/icons/home.svg) no-repeat center;
  -webkit-mask: url(/icons/home.svg) no-repeat center;
  mask-size: contain;
  --webkit-mask-size: contain;
}

.i-layer {
  mask: url(/icons/layer.svg) no-repeat center;
  -webkit-mask: url(/icons/layer.svg) no-repeat center;
  mask-size: contain;
  --webkit-mask-size: contain;
}

.i-group {
  mask: url(/icons/group.svg) no-repeat center;
  -webkit-mask: url(/icons/group.svg) no-repeat center;
  mask-size: contain;
  --webkit-mask-size: contain;
}

@media screen and (max-width: 465px) {
  :root {
    font-size: 9px;
  }
}

@media screen and (max-width: 366px) {
  :root {
    font-size: 7px;
  } 

}
